streamlit
firebase-admin
langchain
faiss-cpu
sentence-transformers
google-generativeai
python-dotenv
pillow
imagehash
pandas
numpy
pypdf
plotly
reportlab
tensorflow
tf-keras
deepface
streamlit-float
requests
twilio
