streamlit
firebase-admin
langchain
faiss-cpu
sentence-transformers
google-generativeai
python-dotenv
pillow 
imagehash
pandas
numpy
pypdf
plotly 
reportlab
tf-keras
deepface
tensorflow-macos
tensorflow-metal
streamlit-float
request
twilio